
.card {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 18vw;
    height: 62vh;
}

.button {
    max-width: 7rem; 
    Font-size: 13px;
}

p {
    font-size: 12px;
}